/* Colors
*/

$yellow: #ffdd55;
$dark-yellow: #fcc204;
$light-blue: #078492;
$dark-blue: #06576a;
$red: #f84919;
$beige: #e6d8bd;
$light-gray: #eaeceb;
$text-color: #333333;
$lighter-text-color: #999999;


/* Typefaces
*/

@font-face {
    font-family: "Neuton";
    font-weight: 400;
    font-style: normal;
    src: local("Neuton Regular"), url("../fonts/Neuton/Neuton-Regular.ttf")
format("truetype");
}

@font-face {
    font-family: "Neuton";
    font-weight: 400;
    font-style: italic;
    src: local("Neuton Italic"), url("../fonts/Neuton/Neuton-Italic.ttf")
format("truetype");
}

@font-face {
    font-family: "Neuton";
    font-weight: 700;
    font-style: normal;
    src: local("Neuton Bold"), url("../fonts/Neuton/Neuton-Bold.ttf")
format("truetype");
}

@font-face {
    font-family: "Manrope";
    font-weight: 300;
    font-style: normal;
    src: local("Manrope Light"), url("../fonts/Manrope/Manrope-Light.woff2")
format("woff2");
}

@font-face {
    font-family: "Manrope";
    font-weight: 400;
    font-style: normal;
    src: local("Manrope Regular"), url("../fonts/Manrope/Manrope-Regular.woff2")
format("woff2");
}

@font-face {
    font-family: "Manrope";
    font-weight: 500;
    font-style: normal;
    src: local("Manrope Medium"), url("../fonts/Manrope/Manrope-Medium.woff2")
format("woff2");
}

@font-face {
    font-family: "Manrope";
    font-weight: 600;
    font-style: normal;
    src: local("Manrope SemiBold"),
url("../fonts/Manrope/Manrope-SemiBold.woff2") format("woff2");
}

@font-face {
    font-family: "Manrope";
    font-weight: 700;
    font-style: normal;
    src: local("Manrope Bold"), url("../fonts/Manrope/Manrope-Bold.woff2")
format("woff2");
}

@font-face {
    font-family: "Manrope";
    font-weight: 800;
    font-style: normal;
    src: local("Manrope ExtraBold"),
url("../fonts/Manrope/Manrope-ExtraBold.woff2") format("woff2");
}

$sans-font: "Manrope", Roboto, DejaVu Sans, sans-serif;
$serif-font: "Neuton", "Linux Libertine", Georgia, serif;


::-moz-focus-inner {  border: 0  !important; }
:focus { outline: 0 !important; }

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

hr {
  background-color: $text-color;
  border: none;
  display: block;
  height: 1px;
  margin: 1.5rem 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/* Type
 */

@mixin uppercase-text {
  text-transform: uppercase;
  letter-spacing: 1px;
}

@mixin long-text {
  font-size: 1.25rem;
  font-family: $serif-font;
}

@mixin inline-list {
  display: inline-block;
  &:not(:first-child) { margin-left: 0.75rem; }
}

$tiny-text-size: 0.75rem;
$small-text-size: 0.875rem;

body {
  color: $text-color;
  font-family: $serif-font;
  font-size: 100%;
  line-height: 1.4;
  min-height: 100%;
}

h1, h2, h3, h4, h5, h6,
nav,
.menu,
label,
select,
input,
button,
textarea {
  font-family: $sans-font;
  line-height: 1.1;
}

h1 { font-size: 4rem; }
h2 { font-size: 2.75rem; }
h3 { font-size: 2.25rem; }
h4 { font-size: 1.8rem; }
h5 { font-size: 1.6rem; }
h6 { font-size: 1.45rem; }

@media screen and (max-width: 860px) {

  h1 { font-size: 2.5rem; }
  h2 { font-size: 2rem; }
  h3 { font-size: 1.75rem; }
  h4 { font-size: 1.5rem; }
  h5 { font-size: 1.25rem; }
  h6 { font-size: 1rem; }

}

h1 { font-weight: 800; }
h2 { font-weight: 700; }
h3 { font-weight: 600; }

a {
  color: $light-blue;
  text-decoration: none;
  transition: color 0.25s ease-out;
}

a:hover,
a:focus {
  color: $dark-blue;
}

strong { font-weight: 700; }

section,
#footer {
  padding: 3rem 2rem;
  @media screen and (max-width: 375px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

li:not(:first-child) {
  margin-top: 0.25rem;
}

label {
  @include uppercase-text;
}

/* Buttons
 */

.button {
  font-family: $sans-font;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  color: #fff;
  background-color: $light-blue;
  display: inline-block;
  vertical-align: middle;
  padding: 0.75rem 1.25rem;
  border-radius: 2px;
  -webkit-appearance: none;
  transition: background-color 0.25s ease-out;
  border: 0;

  &:hover,
  &:focus {
    color: #fff;
    background-color: $dark-blue;
  }

  &:not(.icon-button) i {
    margin-right: 0.5rem;
  }

  &.yellow {
    color: $text-color;
    background-color: $yellow;
    &:hover,
    &:focus {
      background-color: $dark-yellow;
    }
  }
}

.button.hollow {
  color: $light-blue;
  background-color: transparent;
  border: 2px solid $light-blue;
  padding: calc(0.75rem - 2px) calc(1.25rem - 2px);
  transition: color 0.25s ease-out, border-color 0.25s ease-out;

  &:hover,
  &:focus {
    color: $dark-blue;
    border-color: $dark-blue;
  }
}

.button.light {
  color: $light-blue;
  background-color: rgba($beige, 0.7);
  transition: color 0.25s ease-out, background-color 0.25s ease-out;
  &:hover,
  &:focus {
    color: $dark-blue;
    background-color: rgba($beige, 1);
  }
}

.button.secondary {
  background-color: rgba($red, 0.7);

  &:hover,
  &:focus {
    background-color: rgba($red, 1);
  }
}

/* Tooltips
 * */

[data-tooltip] {
  cursor: pointer;
  overflow: visible;
  position: relative;
  height: 100%;
  display: flex;
  height: 100%;
  width: 100%;
}

[data-tooltip]::before,
[data-tooltip]::after {
  font-size: $tiny-text-size;
  hyphens: auto;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  visibility: hidden;
  z-index: 1000;
}

[data-tooltip]::before  {
  content: attr(data-tooltip);
  display: inline-block;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0.5rem;
  text-overflow: ellipsis;
  white-space: pre;
  top: auto;
  right: auto;
  bottom: 0;
  left: 50%;
  margin-top: auto;
  margin-bottom: -0.37rem; /* previous value -6px */
  transform: translate(-50%, 100%);
}

[data-tooltip]::after {
  content: '';
  border-style: solid;
  border-width: 6px;
  top: auto;
  right: auto;
  bottom: 0;
  left: 50%;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: -6px;
  margin-left: -5px;
  border-color: transparent transparent rgba(0, 0, 0, 0.6) transparent;
}

[data-tooltip]:hover::before,
[data-tooltip]:focus::before,
[data-tooltip]:hover::after,
[data-tooltip]:focus::after {
    opacity: 1;
    visibility:visible;
}

/* Navigation in general
 * and main navigation
*/

nav {
  font-size: $tiny-text-size;
  line-height: 1;
  font-weight: 800;
}

.menu li {
  list-style-type: none;
  margin-top: 0;
  li {
    font-size: $small-text-size;
  }
  a {
    display: block;
    color: rgba($text-color, 1);
    text-decoration: none;
    transition: color 0.25s ease-out;
    &:hover {
      color: rgba($text-color, 0.7);
    }
  }
  &.inactive a {
    color: rgba($text-color, 0.4);
    cursor: default;
  }
  &.active a {
    color: $dark-blue;
  }
}

#topbar  {
  .main-nav-wrapper {
    display: grid;
    grid-gap: 0 2rem;
    grid-template-columns: max-content auto;
    align-items: end; /* previous was center */
    background-color: $yellow;
    padding: 1rem 2rem;
    z-index: 200;
    position: relative;
    @media screen and (max-width: 768px) { padding: 1rem 1.5rem; }
    h1 {
      font-size: 1.25rem;
      line-height: 1;
      font-weight: 800;
      text-transform: uppercase;
      a {
        color: $text-color;
        text-decoration: none;
        img {
          height: 38px;
          width: auto;
        }
        &:hover img { opacity: 0.8; }
      }
    }
    #menu-button {
      display: inline-block;
      width: 24px;
      cursor: pointer;
      justify-self: right;

      span,
      &::before,
      &::after, {
        background-color: #fff;
        border-radius: 3px;
        content: '';
        display: block;
        height: 3px;
        margin: 4px 0;
        transition: all .2s ease-in-out;
      }
      &.is-active::before { transform: translateY(6px) rotate(135deg); }
      &.is-active::after { transform: translateY(-8px) rotate(-135deg); }
      &.is-active span { transform: scale(0); }


      @media screen and (min-width: 701px) { display: none; }
    }

    #main-menu {
      @media screen and (max-width: 700px) { /* small screens only */
        display: none;
        justify-self: auto;
        &.is-active {
          display: block;
          grid-column: 1 / span 2;
          .menu {
            justify-content: space-between;
            border-top: 1px solid rgba($text-color, 0.4);
            padding-top: 1rem;
            margin-top: 1rem;
            .menu li { border-bottom: 0; }
          }
        }
      }

      .menu {
        font-size: $small-text-size;
        font-weight: 700;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline; /* previous was center */
        gap: 0 2rem;
        @media screen and (max-width: 540px) {
          display: block;
        }
        li {
          &#dfi-space { margin-right: auto; }
          a {
            display: block;
            padding: 0.15rem 0;
          }
        }
      }
    }

    /* country submenu
    #country-button {
      font-size: $small-text-size;
      font-weight: 700;
      display: block;
      padding: 0.25rem 0;
      background: transparent;
      border: 0;
      box-shadow: 0 0 0 transparent;
      color: $text-color;
    }
  }
  #country-menu {
    font-size: $small-text-size;
    line-height: 1;
    background-color: #fff;
    position: absolute;
    width: 100%;
    z-index: 10;
    overflow: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all .5s;
    transition: all .5s;
    opacity: 0;
    display: grid;
    grid-gap: 0;
    grid-template-columns: max-content auto;
    &.is-active {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }

    .tabs {
      font-weight: 800;
      @include uppercase-text;
      padding-top: 1rem;
      padding-bottom: 1rem;
      li {
        padding-left: calc(110px + 4rem);
        padding-right: 2rem;
        a {
          padding: 1rem 0;
          &:hover {
            color: $light-blue;
          }
        }
        &.is-active {
          color: $light-blue;
        }
      }
    }
    .tabs-content {
      border-left: 1px solid $light-gray;
      ul.menu {
        columns: auto;
        padding: 1rem 2rem;
        li {
          flex-grow: 1;
          a {
            padding: 0.5rem 1rem;
            &:hover {
              color: $light-blue;
            }
          }
        }
      }
    }
    end country submenu */
  }
}

/* Common elements
 */

html,
body {
  height: 100%;
}

#page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  main {
    flex-grow: 1;
    background-color: #fff;
    margin-bottom: 1em;
  }

  #footer { justify-self: end; }
}


p.credits {
  color: $lighter-text-color;
  font-size: $tiny-text-size;
  font-family: $sans-font;
  font-weight: 600;
  margin-top: 1rem;
}

/* Footer
*/

#footer {
  color: #fff;
  background-color: $dark-blue;
  font-family: $sans-font;
  display: flex;
  justify-content: space-between;
  gap: 0 2rem;
  margin-top: 1em;
  @media screen and (max-width: 768px) { padding: 3rem 1.5rem; }
  @media screen and (min-width: 860px) {
    margin-top: 5em;
  }
  section { padding: 0; margin: 0; }
  a {
    color: rgba(255, 255, 255, 0.7);
    &:hover { color: rgba(255, 255, 255, 1); }
  }

  hr { background-color: rgba(255, 255, 255, 0.3); }

  .site-name {
    margin-bottom: 1rem;
    img { max-height: 60px; width: auto; }
    a {
      opacity: 0.7;
      transition: opacity 0.2s ease-out;
      &:hover,
      &:focus { opacity: 1; }
    }
  }

  h4 {
    font-size: $small-text-size;
    @include uppercase-text;
    font-weight: 800;
    margin-bottom: 1rem;
  }

  .funded {
    display: flex;
    align-items: start;
    div {
      &:not(:first-child) { margin-left: 2.5rem; }
    }
    li {
      @include inline-list;
    }
    a {
      opacity: 0.7;
      transition: opacity 0.2s ease-out;
      &:hover,
      &:focus { opacity: 1; }
    }
    img { max-height: 40px; width: auto; }
  }

  nav {
    font-size: 100%;
    min-width: 30%;
    ul.menu {
      li {
        &:not(:last-child) { margin: 0 0 0.25rem; }
        &.inactive a {
          color: rgba(255, 255, 255, 0.2);
        }
        hr {
          max-width: 50px;
          margin: 0.5rem 0;
        }
      }
    }
  }

}

/* Datamaps
*/

.datamaps-hoverover .hoverinfo {
  font-size: $small-text-size;
  line-height: 1;
  font-family: $sans-font;
  color: #fff;
  background-color: rgba($text-color, 0.9);
  border: 0;
  padding: 1rem 2rem;
  box-shadow: 0 0 0 transparent;
  border-radius: 2px;
}

.datamaps-subunit,
.datamaps-bubble {
  cursor: pointer;
}

/* Charts
 * */

.chart-wrapper {
  position: relative;
  padding-top: 3rem;
  max-width: 100%;
  .chart-title {
    margin-bottom: 2rem;
  }
  .chart-actions {
    position: absolute;
    top: 0.35rem;
    right: 0.35rem;
    .button {
      font-size: $small-text-size;
      padding: 0.45rem 0.5rem;
      background-color: rgba(0, 0, 0, 0.2);
      transition: background-color 0.25s ease-out;
      &:hover { color: #fff; background-color: rgba(0, 0, 0, 0.4); }
      i { font-weight: bold; }
    }
  }
}

/* Homepage */

#overview-map {
  height: 85vh;
  display: grid;
  grid-template-columns: 1fr 0.25fr;
  padding: 0;

  @media screen and (max-width: 860px) {
    grid-template-columns: 1fr 0.45fr;
  }

  @media screen and (max-width: 375px) { /* small screens only */
    display: block;
    min-height: auto;
  }

  #map {
    position: relative;
    overflow: hidden;
    background-color: $light-gray;
    @media screen and (max-width: 375px) { /* small screens only */
      display: none;
    }
    svg {
      width: auto;
      height: 100%;
      object-fit: fill;
    }
  }

  #country-index {
    font-family: $sans-font;
    background-color: rgba($beige, 0.5);
    max-height: 100%;
    overflow-y: scroll;

    header h3 {
      font-size: 1.25rem;
      padding: 2rem;
      border-bottom: 1px solid rgba($text-color, 0.2);
    }

    #country-rank {
      font-size: $small-text-size;
      li {
        line-height: 1;
        border-bottom: 1px solid rgba($text-color, 0.2);
        padding: 1rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
          font-variant-numeric: tabular-nums;
        }
      }
    }
  }

}

section#about {
  color: #fff;
  background-color: #f84919;
  display: flex;
  margin-bottom: 3rem;

  h2 {
    font-size: 3vh;
    max-width: 60rem;
    margin: auto;
  }
}

section#data-overview {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  margin: 2rem 0;

  @media screen and (max-width: 540px) {
    display: block;
    article:not(:first-child) { margin-bottom: 2rem;}
  }

  article {
    background-color: rgba($beige, 0.3);
    padding: 2rem;

    &:nth-child(3) {
      grid-column: 1 / 3;
    }

    h3 {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }

  }
}


/* Country + DFI page + Compare
 * common elements
 */

#country-page main,
#dfi-page main {
  .hero {
    color: #fff;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    justify-content: space-between;
    padding: 2rem 0 0;
    header {
      margin-left: 15%;
      margin-right: 15%;
      @media screen and (max-width: 768px) {
        display: block;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
      }
      @media screen and (min-width: 769px) and (max-width: 1280px) { /* large
screens */
        margin-left: 2.5%;
        margin-right: 2.5%;
      }
      @media screen and (min-width: 1281px) and (max-width: 1440px) { /*
extra-large screens */
        margin-left: 6%;
        margin-right: 6%;
      }
      h2 {
        font-size: 10vh;
        margin-bottom: 2rem;
      }
    }
  }
}

#country-page main,
#dfi-page main,
#compare-page main {
  .hero {
    .info {
      font-family: $sans-font;
      background-color: rgba($text-color, 0.5);
      padding: 1.5rem 0;
      padding-left: 15%;
      padding-right: 15%;
      margin-top: 1rem;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: 0.7fr 0.3fr;
      justify-content: space-between;
      align-items: end;
      @media screen and (max-width: 580px) {
        display: block;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }
      @media screen and (min-width: 581px) and (max-width: 1280px) { /* large
screens */
        padding-left: 2.5%;
        padding-right: 2.5%;
      }
      @media screen and (min-width: 1281px) and (max-width: 1440px) { /*
extra-large screens */
        padding-left: 6%;
        padding-right: 6%;
      }
      h4 {
        font-size: 1.25rem;
        font-weight: 800;
        @include uppercase-text;
      }
      .details {
        @media screen and (max-width: 580px) {
          margin-bottom: 1rem;
        }
        dl {
          display: grid;
          grid-gap: 0 0.25rem;
          grid-template-columns: max-content 1fr;
          align-items: baseline;
          dt {
            text-align: right;
            border-right: 1px solid #fff;
            padding-right: 0.75rem;
          }
          dd {
            font-weight: 800;
            margin-left: 0.75rem;
            a { color: $yellow; }
          }
        }
        ul {
          margin-top: 1rem;
          li {
            @include inline-list;
            a {
              @include uppercase-text;
              font-size: 0.75rem;
              font-weight: 600;
              display: block;
              padding: 0.25rem 0.5rem;
              color: $text-color;
              background-color: $beige;
              border-radius: 0;
            }
          }
        }
      }
      .actions {
        line-height: 1;
        @media screen and (max-width: 375px) {
          margin-top: 1rem;
        }
        li {
          display: inline-block;
          width: calc(50% - 0.25rem);
          .button {
            display: block;
           }
          &.logo {
            display: block;
            width: 100%;
            margin-bottom: 0.5rem;
            img { max-width: 240px; }
            &.cdc img { max-width: 100px; }
            &.deg img { max-width: 160px; }
            &.jbic img { max-width: 280px; }
          }
          &.compare {
            display: block;
            width: 100%;
            margin-bottom: 0.5rem;
          }
          &.social-share {
            margin-left: 0.5rem;
            div {
              display: grid;
              grid-gap: 2px;
              grid-template-columns: repeat(4, 1fr);
              align-items: center;
              justify-content: center;
              a.button {
                padding-right: 0.5rem;
                padding-left: 0.5rem;
                border-radius: 0;
                &:first-child { border-radius: 2px 0 0 2px; }
                &:last-child { border-radius: 0 2px 2px 0; }
                i { margin-right: 0; }
              }
            }

          }

          @media screen and (max-width: 375px) {
            display: inline-block;
            width: calc(100% / 3 - 0.5rem);
            margin-left: 0.5rem;
            &:not(:first-child) { margin-left: 0.5rem; }
            &.compare {
              display: inline-block;
              width: calc(100% / 3 - 0.5rem);
              span {
                display: none;
              }
              i { margin-right: 0; }
              i::after {
                content: 'Compare';
                display: inline-block;
                font-size: $small-text-size;
                font-family: $sans-font;
                font-weight: 700;
                padding-left: 0.5rem;
              }
            }
            .button {
              font-size: $small-text-size;
              padding: 0.5rem;
            }
          }
        }
      }
    }
  }

  section:not(.hero) {
    max-width: 70%;
    margin: 2rem auto 0;
    padding: 1rem 0;
    @media screen and (max-width: 768px) { /* small and medium screens */
      padding: 1rem 1.5rem;
      margin: 1rem auto;
      max-width: 100%;
    }
    @media screen and (max-width: 1280px) { /* large screens */
      max-width: 95%;
      margin: 1rem auto;
      padding: 1rem 0;
    }
    @media screen and (max-width: 1440px) { /* extra-large screens */
      max-width: 88%;
      margin: 1.5rem auto;
      padding: 1.5rem 0;
    }
  }
}

.overview,
.numbers {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  align-items: baseline;
  @media screen and (max-width: 768px) { /* small and medium screens */
    display: block;
    article:not(:first-child) { margin-top: 2rem; }
  }

  article {
    header,
    .chart-title {
      margin-bottom: 1rem;
      margin-top: 0;
    }
    footer {
      font-family: $sans-font;
      margin-top: 1.5rem;
    }
    p:not(:last-child) {
      margin-bottom: 1rem;
    }

    &.summary { /* for descriptions */
      @include long-text;
      h3:not(:first-child),
      h4:not(:first-child),
      h5:not(:first-child),
      h6:not(:first-child) {
        margin-top: 2rem;
        margin-bottom: 0.75rem;
      }
    }

    .highlight { /* for highlights */
      font-family: $sans-font;
      font-size: 1rem;
      line-height: 1.2;
      background-color: $beige;
      padding: 1rem;
      strong { font-weight: 700;}
    }

    &.facts {
      dl {
        font-family: $sans-font;
        font-size: $small-text-size;
        line-height: 1;
        font-variant-numeric: tabular-nums;
        display: grid;
        grid-gap: 0.25rem 0;
        grid-template-columns: max-content auto;
        align-items: center;
        dt {
          text-align: right;
          padding: 0.5rem 0.5rem 0.25rem 0;
          border-top: 1px solid rgba($text-color, 0.2);
        }
        dd {
          font-weight: 700;
          padding: 0.5rem 0 0.25rem;
          border-top: 1px solid rgba($text-color, 0.2);
        }
        dd.no-data {
          color: #aaa;
        }
        @media screen and (max-width: 580px) {
          grid-template-columns: auto auto;
          align-items: start;
        }
      }
    }

  }
  &.numbers { /* for charts */
    article {
      background-color: rgba($beige, 0.3);
      padding: 2rem 1rem;
    }
  }
}

.extra {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  /* this doesn't work and it should!
  grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));*/
  align-items: baseline;


  @media screen and (min-width: 512px) and (max-width: 780px) { /* when grid has 2 columns */

    article:nth-child(3) {
      grid-column: 1 / span 2;
    }

  }


  header { margin-bottom: 1rem;}

  .related {
    font-family: $sans-font;
    line-height: 1.1;

    .loading-content {
      opacity: 0.5;
      text-align: center;
    }

    li {
      a {
        display: block;
        padding: 1rem 0;
        border-top: 1px solid rgba($light-blue, 0.4);
        i {
          margin-right: 0.25rem;
          vertical-align: baseline;
        }
        span.feed-item-date {
          color: rgba($text-color, 0.4);
          font-size: $small-text-size;
          font-weight: 800;
          transition: color 0.25s ease-out;
          white-space: nowrap;
          i {
            margin-left: 0.25rem;
            margin-right: 0rem;
            vertical-align: middle;
          }
        }
        &:hover span.feed-item-date {
          color: rgba($text-color, 0.6);
        }
      }
    }
  }

}



#country-page main .hero { /* Country page */
  background-image: url("../img/mongolia.jpg");
  /*mask-image: linear-gradient(rgba($beige,1), transparent);*/
}

#dfi-page main .hero { /* DFI page */
  background-image: url("../img/dfi-officebuilding.jpg");
}


#compare-page main { /* compare page */
  .hero { /* compare page */
    background-color: rgba($beige, 0.4);
    background-image: url("../img/dfi-officebuilding.jpg"), /* reversed order! */
                      url("../img/mongolia.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: calc(100vw / 2) bottom,
                         left bottom;
    /*background-size: 50% 100%, 50% 100%;*/
    padding-bottom: 0;
    header {
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: repeat(2, 1fr);
      h2 {
        color: #fff;
        font-size: 10vh;
        margin-bottom: 2rem;
        &:first-child { text-align: right; }
        @media screen and (max-width: 768px) { font-size: 10vw; }
      }
    }
    .facts {
      color: $text-color;
      margin: 0 auto;
      background-color: rgba($beige, 0.9);
      width: max-content;
      dl {
        font-family: $sans-font;
        font-size: $small-text-size;
        line-height: 1.2;
        font-variant-numeric: tabular-nums;
        padding: 1rem;
        margin: 0 auto;
        div {
          display: grid;
          grid-gap: 0;
          margin-bottom: 0.75rem;
          margin-top: 0.25rem;
          grid-template-columns: repeat(2, 1fr);
          dt {
            font-size: 1rem;
            text-align: center;
            padding: 0;
            grid-column: 1 / span 2;
          }
          dd {
            font-weight: 700;
            padding: 0 1rem;
            &.no-data { color: #aaa; }
            &:nth-child(2) { text-align: right; }
          }
        }
      }
      p {
        font-family: $sans-font;
        @include uppercase-text;
        font-weight: 600;
        text-align: right;
        border-top: 1px solid rgba($text-color, 0.2);
        padding: 0.25rem 0.5rem 0.5rem;
      }
    }
  }
  .numbers {
    ul.legend {
      font-family: $sans-font;
      @include uppercase-text;
      grid-column: 1 / span 2;
      text-align: center;
      li {
        display: inline-block;
        margin-right: 1rem;
        &::before {
          display: inline-block;
          content: " ";
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
          margin-right: 0.25rem;
        }
        &#legend-country-1-name::before { background-color: $dark-blue; }
        &#legend-country-2-name::before { background-color: $yellow; }
      }

    }
  }
}

/* Static pages
*/

main.page {
  section {
    max-width: 70%;
    margin: 2rem auto 0;
    padding: 1rem 0;
    @media screen and (max-width: 768px) { max-width: 100%; padding: 1rem 1.5rem; }
    @media screen and (min-width: 769px) and (max-width: 1024px) { max-width: 90%; }
    header:first-child {
      margin-bottom: 1.5rem;
      h2:not(:last-child) { margin-bottom: 1rem; }
    }
    .content {
      display: grid;
      grid-template-columns: 0.5fr 1fr;
      grid-gap: 0 2rem;
      align-items: end;
      * { /* all content that is not a title on the right column */
        grid-column: 2 / span 1;
        font-family: $serif-font;
      }
      p,
      ul,
      ol { font-size: 1.25rem; }

      h1, h2, h3, h4, h5, h6 { /* all titles on the right column */
        grid-column: 1 / span 1;
        align-self: start;
        justify-self: end;
      }
      h1 { font-size: 2rem; }
      h2 { font-size: 1.75rem; }
      h3 { font-size: 1.5rem; }
      h4 { font-size: 1.25rem; }
      h5 { font-size: 1.15rem; }
      h6 { font-size: 1rem; }

      p { margin-bottom: 1rem; }
      p + h1 { margin-top: 2rem; }
      p + h2 { margin-top: 2rem; }
      p + h3 { margin-top: 2rem; }
      p + h4 { margin-top: 2rem; }
      p + h5 { margin-top: 2rem; }
      p + h6 { margin-top: 2rem; }


      h1 + p { margin-top: 2rem; }
      h2 + p { margin-top: 2rem; }
      h3 + p { margin-top: 2rem; }
      h4 + p { margin-top: 2rem; }
      h5 + p { margin-top: 2rem; }
      h6 + p { margin-top: 2rem; }

      h1:first-child,
      h2:first-child,
      h3:first-child,
      h4:first-child,
      h5:first-child,
      h6:first-child,
      p:first-child,
      h1:first-child + p,
      h2:first-child + p,
      h3:first-child + p,
      h4:first-child + p,
      h5:first-child + p,
      h6:first-child + p { margin-top: 0; }

    }
  }
}

/* Post list and single post
*/

.page section.post {

  .list {
    article {
      padding: 0.5rem 0;
      margin: 0.5rem 0 1rem;
      header {
        margin-bottom: 1rem;
      }
      p {
        font-size: 1.25rem;
      }
    }
  }

  .post-date {
    font-size: $small-text-size;
    font-weight: 600;
    margin-top: 0.5rem;
  }

  ul.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0 0.5rem;
    align-items: baseline;
    li {
      font-size: $small-text-size;
      font-family: $sans-font;
      font-weight: 800;
      line-height: 1;
      @include uppercase-text;
    }
  }
}


/* Reports page
*/

#reports {
  main.page {
    .page-header {
      margin-bottom: 2rem;
    }
    .report-grid {
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: repeat(5, 1fr);
      align-items: stretch;
      article {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &.internal .details li.institution { background-color: $yellow; }
        header {
          line-height: 1.2;
          margin-bottom: 0;
          h3 { font-size: 1rem; }
          h4.authors {
            font-size: $small-text-size;
            font-weight: 600;
            margin-top: 0.25rem;
          }
          p.description { line-height: 1.1; margin-top: 0.5rem; margin-bottom: 0.5rem; }
          h3:empty,
          h4:empty,
          p:empty{ display: none; }
          .download {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 0.5rem;
            background-color: $beige;
            img {
              min-width: 100%;
              height: 200px;
              width: auto;
              object-fit: cover;
              filter: grayscale(50%);
            }
            a.button {
              position: absolute;
            }
          }
        }
        .details {
          font-size: 0.75rem;
          font-family: $sans-font;
          font-weight: 800;
          line-height: 1;
          @include uppercase-text;
          display: flex;
          flex-wrap: wrap;
          align-items: baseline;
          justify-content: space-between;
          li {
            padding: 0.25rem 0;
            &.institution {
              background-color: $beige;
              padding: 0.25rem 0.5rem;
            }
          }
        }
      }
    }
  }
}


/* Glossary page
*/

#glossary {
  main.page section .content {
    display: block;
    dl {
      columns: 3;
      column-gap: 2rem;
      @media screen and (max-width: 375px) { columns: 1; }
      @media screen and (min-width: 376px) and (max-width: 786px) { columns: 2; }
      div {
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
        margin-bottom: 1.5rem;
        line-height: 1.2;
        dt {
          color: $dark-blue;
          font-family: $sans-font;
          @include uppercase-text;
          font-weight: 900;
          text-align: center;
          border-bottom: 1px solid rgba($dark-blue, 0.4);
          padding-bottom: 0.25rem;
          margin-bottom: 0.25rem;
        }
        dd {
          font-size: 1.25rem;
          font-family: $serif-font;
          text-align: justify;
          hyphens: auto;
        }
      }
    }
  }
}

/* Team page
*/

#team main.page {
  .team-grid {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    align-items: top;
    article {
      text-align: center;
      header {
        line-height: 1.2;
        margin-bottom: 0;
        h4 { font-size: 1rem; margin-bottom: 0.5rem; }
        h5 { font-size: 0.85rem; margin-bottom: 0.5rem; }
        h4:empty, h5:empty { display: none; }
        p {
          margin-bottom: 0.5rem;
          img {
            display: inline-block;
            height: 140px;
            object-fit: cover;
            border-radius: 4px;
            background-color: rgba($beige, 0.4);
            color: transparent;
          }
        }
      }
      .link {
        font-family: $sans-font;
        font-size: $small-text-size;
        font-weight: 600;
      }
    }
  }
}

/* Admin page
 */

#admin {
  .wrapper {
    font-family: $sans-font;
    background-color: $light-gray;
    display: grid;
    grid-gap: 0;
    grid-template-columns: auto 1fr;
    min-height: 100vh;
    #sidebar {
      color: #fff;
      background-color: $text-color;
      padding: 2rem;
      .site-name {
        width: 100%;
        max-width: 160px;
        margin-bottom: 2rem;
      }
      h2 {
        font-size: 1.25rem;
        @include uppercase-text;
      }
      li { font-size: 1rem; }
    }

    section {
      .grid {
        display: grid;
        grid-gap: 0 2rem;
        grid-template-columns: repeat(4, 1fr);
      }
      div {
        margin-bottom: 2rem;
        header {
          margin-bottom: 1.5rem;
          min-height: 6rem;
          h3 { margin-bottom: 0.5rem; }
        }
        ul {
          li {
            &:not(:first-child) { margin-top: 0.5rem; }
            .button {
              display: block;
              width: 100%;
            }
          }
        }
      }


      .button {
        &.large {
          font-size: 1.5rem;
        }
      }

      p.notice {
        background-color: #fff;
        padding: 2rem;
        margin-bottom: 2rem;
        .button { display: block; }
      }
    }
  }
}


/* Testing styles
*/

section.testing p:not(:first-child) {
  margin-top: 2rem;
}

section.testing h2,
section.testing h3,
section.testing h4,
section.testing h5,
section.testing h6 {
  margin-top: 0.75rem;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden { /* Hide visually and from screen readers */
  display: none !important;
}

.invisible { /* Hide visually and from screen readers, but maintain layout  */
  visibility: hidden;
}

h1.light,
h2.light,
h3.light,
h4.light  { font-weight: 300; }

.underline {
  text-decoration: underline;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]::after {
    content: " (" attr(href) ")";
  }
  abbr[title]::after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     *
https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/
Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
