/* Tailwind based modal
*  https://www.tailwindtoolbox.com/components/modal
*/

$yellow: #ffdd55;
$dark-yellow: #fcc204;
$light-blue: #078492;
$dark-blue: #06576a;
$red: #f84919;
$beige: #e6d8bd;
$light-gray: #eaeceb;
$text-color: #333333;
$lighter-text-color: #999999;


body.modal-active {
  overflow-x: hidden;
  overflow-y: visible !important;
}

.modal {
  display: block;
  transition: opacity 0.25s ease;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  z-index: 99999;
  pointer-events: auto;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
 
  &.hide {
    display: none;
    opacity: 0;
    pointer-events: none;
  }
  
  .modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: rgba(0, 0, 0, 0.5);
  } 

  .modal-container {
    z-index: 50;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05);
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    width: 91.66%;
    @media screen and (min-width: 860px) {
      max-width: 60rem;
    }
    &.large { max-width: 60rem; }
    &.small { max-width: 32rem; }
    
    .modal-content {
      padding: 1rem 1.5rem;
      header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
        h3 {
          font-size: 1.25rem;
          font-weight: 500;
        }
        strong { font-weight: 800; }
      }
      .modal-main {
        max-height: 80vh;
        overflow-y: auto;
        
        #compare-list {
          font-size: 90%;
          line-height: 1;
          font-family: "Manrope", Roboto, DejaVu Sans, sans-serif;
          width: 100%;
          columns: 2;
          @media screen and (max-width: 375px) { columns: 1; }
          @media screen and (min-width: 500px) and (max-width: 860px) { 
columns: 3; }
          @media screen and (min-width: 860px) { columns: 4; }
          li {
            &:not(:first-child) { margin: 0; }
            a {
              display: block;
              line-height: 1;
              padding: 0.5rem 0;
              height: 100%;
              border-top: 1px solid rgba($light-blue, 0.5);
              transition: all 0.25s ease-out;
              &:hover,
              &:focus {
                color: $dark-blue;
                font-weight: 600;
                border-color: rgba($light-blue, 0.7);
                
              }
            }
          }
        
        } 
      }
      textarea {
        color: $lighter-text-color;
        font-family: monospace;
        font-size: 12px;
        line-height: 1.1;
        display: block;
        width: 100%;
        min-height: 6rem;
        padding: 0.25rem;
      }
      footer {
        margin-top: 1rem;
      }
    }
  }
}

