<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <title>Aid2Growth — {{ name }} </title>
  <meta name="description" content="Aid2Growth — From Poverty to Economic Growth: Aid, Business Interests and the 2030 Agenda for Sustainable Development">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="canonical" href="https://aid2growth.com/">

  <link rel="manifest" href="site.webmanifest">


  <meta property="og:url"          content="https://aid2growth.com/" />
  <meta property="og:type"         content="website" />
  <meta property="og:title"        content="{{ page_title }}" />
  <meta property="og:description"  content="Aid2Growth — From Poverty to Economic Growth: Aid, Business Interests and the 2030 Agenda for Sustainable Development" />
  <meta property="og:image"        content="https://aid2growth.com/img/aid2growth-share.png" />
  <meta property="og:image:type"   content="png" />
  <meta property="og:image:width"  content="1200px" />
  <meta property="og:image:height" content="800px" />

  <meta name="twitter:card"        content="summary_large_image">
  <meta name="twitter:description" content="Aid2Growth — From Poverty to Economic Growth: Aid, Business Interests and the 2030 Agenda for Sustainable Development">
  <meta name="twitter:image"       content="https://aid2growth.com/img/aid2growth-share.png">
  <meta name="twitter:site"        content="https://aid2growth.com/">

  <link rel="apple-touch-icon-precomposed" sizes="144x144"
href="img/favicon-144.png"><!-- iPad retina -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114"
href="img/favicon-114.png"><!-- iPhone retina -->
  <link rel="shortcut icon" href="favicon.png">

  <meta name="theme-color" content="#fdd946">

  <link rel="stylesheet" href="/css/fork-awesome.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/modal.css">
  <style>
    article { display: none; }
  </style>
</head>

<body id="embed-chart">

  <main>

    <h2><span id="country-1-name"></span> and <span id="country-2-name"></span></h2>

    <section class="numbers">
      <article id="compare-aid" class="chart-wrapper">
        <span class="chart-actions">
          <a id="embed-compare-aid" href="#embed-modal" class="modal-open embed button icon-button" data-tooltip="Embed
  this chart"><i class="fa fa-code" aria-hidden="true"></i></a>
        </span>
        <header>
          <h5>Aid received</h5>
        </header>
        <div class="chart-container">
          <canvas id="chart-compare-sector" width="400" height="400"></canvas>
        </div>
      </article>

      <article id="compare-instruments" class="chart-wrapper">
        <span class="chart-actions">
          <a id="embed-compare-instruments" href="#embed-modal" class="modal-open embed button icon-button" data-tooltip="Embed
  this chart"><i class="fa fa-code" aria-hidden="true"></i></a>
        </span>
        <header>
          <h5>Instruments</h5>
        </header>
        <div class="chart-container">
          <canvas id="chart-compare-instruments" width="400" height="400"></canvas>
        </div>
      </article>

      <p class="credits">Data sources: <a href="https://dfi.cgdev.org/">Center
For Global Development</a>, <a href="https://data.worldbank.org/">
World Bank </a>.</p>
    </section><!-- /.numbers-->


  </main><!-- /.country -->

  <script>
    const urlParams = new URLSearchParams(window.location.search);
    const country1code = urlParams.get('country1');
    const country2code = urlParams.get('country2');


    const type = urlParams.get('type');
    console.log(type);

    if (type.includes('compare')) {
      console.log('this is a compare chart')
    }

    if (document.querySelector('#' + type)) {
      document.querySelector('#' + type).style = "display: block";
    } else {
      console.log('could not make embed')
    }
  </script>

  <script src="/js/vendor/papaparse-5.0.2.min.js"></script>
  <script src="/js/vendor/chart-2.9.3.min.js"></script>

  <script src="/js/vendor/modernizr-3.8.0.min.js"></script>
  <script src="/js/vendor/jquery-3.4.1.min.js"></script>
  <script src="/js/plugins.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/compare.js"></script>
  <script src="/js/charts-compare.js"></script>
</body>

</html>
