
Work in progress: topmenu with country and DFI submenu

<header id="topbar">
  <div class="main-nav-wrapper">
    <h1 class="site-name"><a href="/" rel="home">
      <img src="/img/aid2growth-logo.svg" alt="Aid2Growth logo"
          onerror="this.src='/img/aid2growth-logo.png'">
    </a></h1>
    <div id="menu-button">
      <span><span>
    </div>
    <nav id="main-menu">
      <ul class="menu">
        <!-- country menu
          <li><button id="country-button">Countries</button></li>
          <li id="dfi-space"><a id="dfi-button" href="">DFIs</a></li>
        -->
        <li>
          <a href="/methodology/">Methodology</a>
          <a href="/glossary/">Glossary</a>
          <a href="/links/">Links</a>
        </li>
        <li>
          <a href="/about/">About</a>
          <a href="/team/">Team</a>
          <a href="/reports/">Reports</a>
        </li>
        <li><a href="/posts/">News</a></li>
      </ul>
    </nav>
  </div><!-- /.main-nav-wrapper-->
  <!-- submenu
  <div id="country-menu">
    <div class="tabs">
      <ul class="menu">
        <li class="is-active"><a href="">Africa</a></li>
        <li><a href="">Americas</a></li>
        <li><a href="">Asia</a></li>
        <li><a href="">Europe</a></li>
      </ul>
    </div><!-- /.tabs -->
    <div class="tabs-content">
      <ul class="menu">
        <li><a href="">País 1</a></li>
        <li><a href="">País 2</a></li>
        <li><a href="">País 3</a></li>
        <li><a href="">País 4</a></li>
        <li><a href="">País 5</a></li>
        <li><a href="">País 6</a></li>
      </ul>
    </div><!-- /.tabs-content -->
  </div><!-- /#country-menu -->
</header><!-- /#topbar -->


  <script>
    var countryButton = document.querySelector('#country-button');
    var countryMenu = document.querySelector('#country-menu');
    countryButton.onclick = function() {
      countryButton.classList.toggle('is-active');
      countryMenu.classList.toggle('is-active');
    }

    var menuButton = document.querySelector('#menu-button');
    var mainMenu = document.querySelector('#main-menu');
    menuButton.onclick = function() {
      menuButton.classList.toggle('is-active');
      mainMenu.classList.toggle('is-active');
    }
  </script>
