<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <title>{% if page_title %}{{ page_title }} — {% endif %}Aid2Growth</title>
  <meta name="description" content="Aid2Growth — From Poverty to Economic Growth: Aid, Business Interests and the 2030 Agenda for Sustainable Development">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="canonical" href="https://aid2growth.com/">

  <link rel="manifest" href="site.webmanifest">


  <meta property="og:url"          content="https://aid2growth.com/" />
  <meta property="og:type"         content="website" />
  <meta property="og:title"        content="{{ page_title }}" />
  <meta property="og:description"  content="Aid2Growth — From Poverty to Economic Growth: Aid, Business Interests and the 2030 Agenda for Sustainable Development" />
  <meta property="og:image"        content="https://aid2growth.com/img/aid2growth-share.png" />
  <meta property="og:image:type"   content="png" />
  <meta property="og:image:width"  content="1200px" />
  <meta property="og:image:height" content="800px" />

  <meta name="twitter:card"        content="summary_large_image">
  <meta name="twitter:description" content="Aid2Growth — From Poverty to Economic Growth: Aid, Business Interests and the 2030 Agenda for Sustainable Development">
  <meta name="twitter:image"       content="https://aid2growth.com/img/aid2growth-share.png">
  <meta name="twitter:site"        content="https://aid2growth.com/">
  {% block sharingmetadata %}{% endblock %}

  <link rel="apple-touch-icon-precomposed" sizes="144x144"
href="/img/favicon-144.png"><!-- iPad retina -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114"
href="/img/favicon-114.png"><!-- iPhone retina -->
  <link rel="shortcut icon" href="/favicon.png">

  <meta name="theme-color" content="#fdd946">

  <link rel="stylesheet" href="/css/fork-awesome.min.css">
  <link rel="stylesheet" href="/css/main.css">

  {% block extracss %}{% endblock %}

</head>


<body id="{% block bodyID %}{% endblock %}">
  <div id="page-wrapper">
    <header id="topbar">
      <div class="main-nav-wrapper">
        <h1 class="site-name"><a href="/" rel="home">
          <img src="/img/aid2growth-logo.svg" alt="Aid2Growth logo"
              onerror="this.src='/img/aid2growth-logo.png'">
        </a></h1>
        <div id="menu-button">
          <span><span>
        </div>
        <nav id="main-menu">
          <ul class="menu">
            <li>
              <a href="/about/">About</a>
              <a href="/team/">Team</a>
              <a href="/methodology/">Methodology</a>
            </li>
            <li>
              <a href="/reports/">Working Papers</a>
              <a href="/links/">Knowledge Hub</a>
              <a href="/glossary/">Glossary</a>
            </li>
            <li><a href="/posts/">News</a></li>
          </ul>
        </nav>
      </div><!-- /.main-nav-wrapper-->
    </header><!-- /#topbar -->

    {% block content %}
    {% endblock %}

    <footer id="footer">
       <section>
        <h3 class="site-name"><a href="/" rel="home">
          <img src="/img/aid2growth-logo_white.svg" alt="Aid2Growth logo"
             onerror="this.src='/img/aid2growth-logo_white.png'">
        </a></h3>
        <p>Aid2Growth — From Poverty to Economic Growth: Aid, Business Interests and the 2030 Agenda for Sustainable Development</p>
        <hr>
        <div class="funded">
          <div>
            <h4>Financed by</h4>
            <ul>
              <li><a href="https://www.fct.pt/">
                <img src="/img/support/fct.svg" alt="Logo FCT (Fundação para a Ciência e a Tecnologia)"
                 onerror="this.src='/img/support/fct.png'">
              </a></li>
            </ul>
          </div>
          <div>
            <h4>Hosted by</h4>
            <p><a href="https://cesa.rc.iseg.ulisboa.pt/">
              <img src="/img/support/cesa.png" alt="Logo CEsA-CSG/ISEG-ULisboa">
            </a></p>
          </div>
        </div><!-- /.funded -->
      </section>

      <nav>
        <ul class="menu">
          <li><a href="/about/">About</a></li>
          <li><a href="/team/">Team</a></li>
          <li><a href="/methodology/">Methodology</a></li>
          <li><hr></li>
          <li><a href="/reports/">Working Papers</a></li>
          <li><a href="/links/">Knowledge Hub</a></li>
          <li><a href="/glossary/">Glossary</a></li>
          <li><hr></li>
          <li><a href="/posts/">News</a></li>
        </ul>
      </nav>
    </footer>

  </div><!-- /#page-wrapper -->

  {% block js %}
  {% endblock %}

  <script>
    var menuButton = document.querySelector('#menu-button');
    var mainMenu = document.querySelector('#main-menu');
    menuButton.onclick = function() {
      menuButton.classList.toggle('is-active');
      mainMenu.classList.toggle('is-active');
    }
  </script>


</body>

</html>
