{% extends 'base.html' %}

{% block bodyID %}compare-page{% endblock %}

{% block extracss %}
  <link rel="stylesheet" href="/css/modal.css">
{% endblock %}

{% block js %}
  <script src="/js/vendor/papaparse-5.0.2.min.js"></script>
  <script src="/js/vendor/chart-2.9.3.min.js"></script>
  <script src="/js/vendor/modernizr-3.8.0.min.js"></script>
  <script src="/js/vendor/jquery-3.4.1.min.js"></script>
  <script src="/js/plugins.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/compare.js"></script>
  <script src="/js/charts-compare.js"></script>
  <script src="/js/modal.js"></script>
{% endblock js %}

{% block content %}
  <main class="compare">
    <!-- Há um attr "style" aplicado ao hero no js/compare.js -->
    <section class="hero">
        <header>
          <h2 id="country-1-name">Country 1</h2>
          <h2 id="country-2-name">Country 2</h2>
        </header><!-- /.hero -->
        <article class="facts">
          <dl>
            <div>
              <dt>Population</dt>
                  <dd id="country-1-population"></dd>
                  <dd id="country-2-population"></dd>
            </div>
            <div>
              <dt>Life expectancy at birth</dt>
                  <dd id="country-1-life_expectancy"></dd>
                  <dd id="country-2-life_expectancy"></dd>
            </div>
            <div>
              <dt><abbr title="Gross domestic product">GDP</abbr>*</dt>
                  <dd id="country-1-gdp"></dd>
                  <dd id="country-2-gdp"></dd>
            </div>
            <div>
              <dt>Annual GDP growth</dt>
                  <dd id="country-1-gdp_growth"></dd>
                  <dd id="country-2-gdp_growth"></dd>
            </div>
            <div>
              <dt>GDP per capita*</dt>
                  <dd id="country-1-gdp_per_capita"></dd>
                  <dd id="country-2-gdp_per_capita"></dd>
            </div>
            <div>
              <dt>Gross capital formation (% of GDP)</dt>
                  <dd id="country-1-capital_formation"></dd>
                  <dd id="country-2-capital_formation"></dd>
            </div>
            <div>
                <dt>External debt stocks, total (<abbr title="Disbursed and 
    outstanding debt">DOD</abbr>)*</dt>
                  <dd id="country-1-debt_stocks"></dd>
                  <dd id="country-2-debt_stocks"></dd>
            </div>
            <div>
              <dt>Total debt service (% of <abbr title="Gross national 
    income">GNI</abbr>)</dt>
                  <dd id="country-1-debt_service"></dd>
                  <dd id="country-2-debt_service"></dd>
            </div>
            <div>
              <dt>Net migration</dt>
                  <dd id="country-1-migration"></dd>
                  <dd id="country-2-migration"></dd>
            </div>
            <div>
              <dt>Personal remittances, paid*</dt>
                  <dd id="country-1-remittances"></dd>
                  <dd id="country-2-remittances"></dd>
            </div>
            <div>
                <dt>Foreign direct investment, net inflows (<abbr title="Balance 
of 
    Payments">BoP</abbr>)*</dt>
                  <dd id="country-1-investment_inflows"></dd>
                  <dd id="country-2-investment_inflows"></dd>
            </div>
            <div>
              <dt>Foreign direct investment, net (BoP)*</dt>
                  <dd id="country-1-investment"></dd>
                  <dd id="country-2-investment"></dd>
            </div>
            <div>
              <dt>Net <abbr title="Official development assistance">ODA</abbr> 
    received per capita*</dt>
                  <dd id="country-1-net_oda"></dd>
                  <dd id="country-2-net_oda"></dd>
            </div>
          </dl>
          <p><small>*All amounts in current US$</small></p>
        </article> <!-- facts -->
    </section><!-- /.hero -->
  
    <section class="numbers">
      <ul class="legend">
        <li id="legend-country-1-name">Country 1</li>
        <li id="legend-country-2-name">Country 2</li>
      </ul>
    
      <article class="chart-wrapper">
        <span class="chart-actions">
          <a id="embed-compare-aid" href="#embed-modal" class="modal-open embed button icon-button" data-tooltip="Embed 
  this chart"><i class="fa fa-code" aria-hidden="true"></i></a>
        </span>
        <header>
          <h5>Aid received</h5>
        </header>
        <div class="chart-container">
          <canvas id="chart-compare-sector" width="400" height="400"></canvas>
        </div>
      </article>
      
      <article class="chart-wrapper">
        <span class="chart-actions">
          <a id="embed-compare-aid" href="#embed-modal" class="modal-open embed button icon-button" data-tooltip="Embed 
  this chart"><i class="fa fa-code" aria-hidden="true"></i></a>
        </span>
        <header>
          <h5>Instruments</h5>
        </header>
        <div class="chart-container">
          <canvas id="chart-compare-instruments" width="400" height="400"></canvas>
        </div>
      </article>
      <p class="credits">Data sources: <a href="https://dfi.cgdev.org/">Center 
For Global Development</a>, <a href="https://data.worldbank.org/"> 
World Bank </a>.</p>
    </section><!-- /.numbers-->

    <!-- embed modal -->
    <div id="embed-modal" class="modal embed-modal hide">
      <div class="modal-overlay"></div>

      <div class="modal-container small"> 
        
        <div class="modal-content">
          <header><!--Title-->
            <h3>Embed chart</h3>
            <div class="modal-close">
              <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
              </svg>
            </div>
          </header>

          <div class="modal-main">
            <textarea id="embed-code" readonly="readonly">get this code! copy & paste it quick.</textarea>
          </div><!-- modal-main -->
        </div>
      </div>
    </div>
    <!-- /embed modal -->

  </main><!-- /.compare -->
{% endblock content %}
  
