{% extends 'base.html' %}

{% block bodyID %}country-page{% endblock %}

{% block sharingmetadata %}
  <meta property="og:title" content="{{ name }}" />
  <meta property="og:type" content="article" />
{% endblock %}

{% block extracss %}
  <link rel="stylesheet" href="/css/modal.css">
{% endblock %}

{% block js %}
  <script>
    var countryName = "{{ name }}";
    var countryCode = "{{ code3 }}";
    var region = "{{ region }}";
    var subRegion = "{{ subregion }}";
    var capital = "{{ capital }}";
  </script>

  <script src="/js/vendor/papaparse-5.0.2.min.js"></script>
  <script src="/js/vendor/chart-2.9.3.min.js"></script>
  <script src="/js/vendor/moment.min.js"></script>
  <script src="/js/vendor/vanilla-rss.min.js"></script>

  <script src="/js/vendor/modernizr-3.8.0.min.js"></script>
  <script src="/js/vendor/jquery-3.4.1.min.js"></script>
  <script src="/js/plugins.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/charts-country.js"></script>
  <script src="/js/modal.js"></script>

  <script>
    const feedUrl = 'https://news.google.com/rss/search?q={{ name }}%20development%20finance&hl=en-US&gl=US&ceid=US:en';
    new RSS(document.querySelector("#feeds"), feedUrl, {
      limit: 5,
      support: false,
      entryTemplate: '<li><a href="{url}"><i class="fa fa-newspaper-o" aria-hidden="true"></i> {title} <span class="feed-item-date">{date} <i class="fa fa-external-link" aria-hidden="true"></i></span></a></li>',
    }).on('data', function() { document.querySelector('#loading-news').remove(); })
    .render();
  </script>

{% endblock js %}

{% block content %}

  <main id="{{ code3.lower() }}" class="country">

    <section class="hero"{% if photo %} style="background-image: url('/{{ photo }}') !important;"{% endif %}>
      <header>
        <h2>{{ name }}</h2>
      </header><!-- /.hero -->
      <div class="info">
        <div class="details">
          <dl>
              <dt>Subregion</dt>
                <dd>{{ subregion }}</dd>
              <dt>Capital city</dt>
                <dd>{{ capital }}</dd>
              <dt>Currency</dt>
                <dd>{{ currency }}</dd>
              <dt>Development status</dt>
                <dd>{{ developing_status }}</dd>
          </dl>
          {% if sids or lldc or ldc%}
            <ul>
              <li><strong>{{ name }} is part of </strong></li>
              {% if sids %}<li class="sids">Small Island Developing Countries</li>{% endif %}
              {% if lldc %}<li class="lldc">Land Locked Developing Countries</li>{% endif %}
              {% if ldc %}<li class="ldc">Least developed countries</li>{% endif %}
            </ul>
          {% endif %}
        </div><!-- /.details-->
        <ul class="actions">
          <li class="compare">
            <a id="compare" class="modal-open button yellow" href="#compare-modal"><i
class="fa fa-exchange" aria-hidden="true"></i> <span>Compare with another
country</span></a>
          </li><li>
            <a class="button" href=""><i class="fa fa-rss" aria-hidden="true"></i> Follow</a>
          </li><li class="social-share">
            <div>
              <!--<span class="button"><i class="fa fa-share-alt" aria-hidden="true"></i> Share</span>-->
              <a class="button" href="mailto:?subject=Aid2Growth: {{ name }}"><i class="fa fa-envelope" aria-hidden="true"></i></a>
              <a target="_blank" class="button twitter-share-button" href="https://twitter.com/intent/tweet?url=">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a target="_blank" class="button fb-share-button" href="https://www.facebook.com/sharer/sharer.php?u=">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <!-- https://stackoverflow.com/questions/33426752/linkedin-share-post-url -->
              <a target="_blank" class="button" href="https://www.linkedin.com/sharing/share-offsite/?url={url}"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
          </li><!-- /.social-share -->
        </ul><!-- /.actions -->
      </div><!-- /.info-->
    </section><!-- /.hero -->

    <!-- compare modal -->
    <div id="compare-modal" class="modal hide">
      <div class="modal-overlay"></div>

      <div class="modal-container large">

        <div class="modal-content">
          <header><!--Title-->
            <h3>Compare <strong>{{ name }}</strong> with:</h3>
            <div class="modal-close">
              <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
              </svg>
            </div>
          </header>

          <div class="modal-main">
            <ul id="compare-list">
            {% for code, country in all_countries %}
              <li><a href="/compare/?country1={{ code3.lower() }}&country2={{
code }}">{{ country }}</a></li>
            {% endfor %}
            </ul>
          </div><!-- modal-main -->
          <!-- <footer>
            <button class="button">Go</button>
            <button class="modal-close button">Close</button>
          </footer>-->

        </div>
      </div>
    </div>
    <!-- /compare modal -->


    <section class="overview">

      <article class="summary">
        {% if description %}
        <header>
          <h4>About {{ name }}</h4>
        </header>
        <p>{{ description }}</p>

        {% if investment %}
        <div class="highlight">
          <p><strong>See this investment:</strong><br>
          ipsum purus porta lacus, in mollis orci lorem in nibh.
          Maecenas laoreet venenatis sem, ac imperdiet elit bibendum ac.</p>
        </div>
        {% endif %}
        {% endif %}

      </article><!-- /.summary -->

      <article class="facts">
        <header>
          <h4>Country facts</h4>
        </header>

        <dl>
          <dt>Population</dt>
              <dd>{{ population }}</dd>
          <dt>Life expectancy at birth</dt>
              <dd>{{ life_expectancy }}</dd>
          <dt><abbr title="Gross domestic product">GDP</abbr> (current US$)</dt>
              <dd>{{ gdp }}</dd>
          <dt>Annual GDP growth</dt>
              <dd>{{ gdp_growth }}</dd>
          <dt>GDP per capita (current US$)</dt>
              <dd>{{ gdp_per_capita }}</dd>
          <dt>Gross capital formation (% of GDP)</dt>
              <dd>{{ capital_formation }}</dd>
            <dt>External debt stocks, total (<abbr title="Disbursed and
outstanding debt">DOD</abbr>, current US$)</dt>
              <dd>{{ debt_stocks }}</dd>
          <dt>Total debt service (% of <abbr title="Gross national
income">GNI</abbr>)</dt>
              <dd>{{ debt_service }}</dd>
          <dt>Net migration</dt>
              <dd>{{ migration }}</dd>
          <dt>Personal remittances, paid (current US$)</dt>
              <dd>{{ remittances }}</dd>
            <dt>Foreign direct investment, net inflows (<abbr title="Balance of
Payments">BoP</abbr>, current US$)</dt>
              <dd>{{ investment_inflows }}</dd>
          <dt>Foreign direct investment, net (BoP, current US$)</dt>
              <dd>{{ investment }}</dd>
          <dt>Net <abbr title="Official development assistance">ODA</abbr>
received per capita (current US$)</dt>
              <dd>{{ net_oda }}</dd>
        </dl>
      </article> <!-- facts -->

    </section><!-- /.overview -->

    <section class="numbers">
      <article class="chart-wrapper">
        <span class="chart-actions">
          <a id="embed-country-sector" href="#embed-modal" class="modal-open embed button icon-button" data-tooltip="Embed
  this chart"><i class="fa fa-code" aria-hidden="true"></i></a>
        </span>
        <header class="chart-title">
          <h5>Investments per sector (2013-2017)</h5>
        </header>
        <div class="chart-container">
          <canvas id="chart-country-sector" width="400" height="400"></canvas>
        </div>
      </article>

      <article class="chart-wrapper">
        <span class="chart-actions">
          <a id="embed-country-instruments" href="#embed-modal" class="modal-open embed button icon-button" data-tooltip="Embed
  this chart"><i class="fa fa-code" aria-hidden="true"></i></a>
        </span>
        <header class="chart-title">
          <h5>Investment instruments (2013-2017)</h5>
        </header>
        <div class="chart-container">
          <canvas id="chart-country-instruments" width="400" height="400"></canvas>
       </div>
      </article>
      <p class="credits">Data sources: <a href="https://dfi.cgdev.org/">Center
For Global Development</a>, <a href="https://data.worldbank.org/">
World Bank </a>.</p>
    </section><!-- /.numbers -->

   <section class="extra">
   {% if reports %}
    <article>
      <header>
        <h4>Related reports</h4>
      </header>
      <div id="reports" class="related">
        <ul>
          {% for r in reports %}
          <li><a href="{{ r.pdf_url }}"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> {{ r.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <footer>
        <p class="credits">See the <a href="/reports/">reports section</a> for more.</p>
      </footer>
    </article>
    {% endif %}

    <article>
      <header>
        <h4>From the blog</h4>
      </header>
      <div id="blogposts" class="related">
        <ul>
          <li><a href=""><i class="fa fa-file-pdf-o" aria-hidden="true"></i> My post <span class="feed-item-date">10 Oct 2020</span></a></li>
        </ul>
      </div>
    </article>

    <article>
      <header>
        <h4>Recent news</h4>
      </header>
      <div id="feeds" class="related">
        <p id="loading-news" class="loading-content">
          <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
          <span class="sr-only">Loading...</span>
        </p>
      </div>
      <footer>
        <p class="credits">News provided by <a href="https://news.google.com/">Google News</a>.</p>
      </footer>
    </article>
  </section><!-- /.extra-->

  </main><!-- /.country -->


  <!-- embed modal -->
    <div id="embed-modal" class="modal embed-modal hide">
      <div class="modal-overlay"></div>

      <div class="modal-container small">

        <div class="modal-content">
          <header><!--Title-->
            <h3>Embed chart</h3>
            <div class="modal-close">
              <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
              </svg>
            </div>
          </header>

          <div class="modal-main">
            <textarea id="embed-code" readonly="readonly">get this code! copy & paste it quick.</textarea>
            blablabla
          </div><!-- modal-main -->
        </div>
      </div>
    </div>
    <!-- /embed modal -->

{% endblock content %}
