{% extends 'base.html' %}

{% block bodyID %}dfi-page{% endblock %}

{% block sharingmetadata %}
  <meta property="og:title" content="{{ name }}" />
  <meta property="og:type" content="article" />
{% endblock %}

{% block extracss %}
  <link rel="stylesheet" href="/css/modal.css">
{% endblock %}

{% block js %}
  <script>
    var dfiName = '{{ acronym }}';
  </script>
  <script src="/js/vendor/papaparse-5.0.2.min.js"></script>
  <script src="/js/vendor/chart-2.9.3.min.js"></script>
  <script src="/js/vendor/moment.min.js"></script>
  <script src="/js/vendor/vanilla-rss.min.js"></script>

  <script src="/js/vendor/modernizr-3.8.0.min.js"></script>
  <script src="/js/vendor/jquery-3.4.1.min.js"></script>
  <script src="/js/plugins.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/charts-dfi.js"></script>
  <script src="/js/modal.js"></script>

  <script>
    var dfiCode = "{{ acronym|lower }}";

    googleNewsIDs = {
      'FMO': 'CAAqJAgKIh5DQkFTRUFvS0wyMHZNREp5Y0hOemRCSUNaVzRvQUFQAQ',
      'PROPARCO': 'CAAqJAgKIh5DQkFTRUFvS0wyMHZNR3h3ZVRNMFh4SUNaVzRvQUFQAQ',
      'CDB': 'CAAqIggKIhxDQkFTRHdvSkwyMHZNRFJpTldnekVnSmxiaWdBUAE',
      'CDC': 'CAAqJAgKIh5DQkFTRUFvS0wyMHZNRFl6WDJRMk14SUNaVzRvQUFQAQ',
      'IFC': 'CAAqKAgKIiJDQkFTRXdvTkwyY3ZNVEZpZVdONk5uaGpPQklDWlc0b0FBUAE',
      'JBIC': 'CAAqJAgKIh5DQkFTRUFvS0wyMHZNREkyZG5JeU5SSUNaVzRvQUFQAQ',
      'DFC': 'CAAqKAgKIiJDQkFTRXdvTkwyY3ZNVEZvTWpOb2JHUXdheElDWlc0b0FBUAE'
    }
    googleNewsSearchStrings = {
      'AIIB': 'asian infrastructure investment bank',
      'DEG': 'DEG KfW',
    }
    var feedUrl;
    if (googleNewsIDs[dfiName]) {
      feedUrl = 'https://news.google.com/rss/topics/' + googleNewsIDs[dfiName] + '?hl=en-US';
    } else {
      feedUrl = 'https://news.google.com/rss/search?q=' + googleNewsSearchStrings[dfiName] + '&hl=en-US&gl=US&ceid=US:en';
    }
    console.log(feedUrl);
    new RSS(document.querySelector("#feeds"), feedUrl, {
      limit: 5,
      support: false,
      entryTemplate: '<li><a href="{url}"><i class="fa fa-newspaper-o" aria-hidden="true"></i> {title} <span class="feed-item-date">{date} <i class="fa fa-external-link" aria-hidden="true"></i></span></a></li>',
    }).on('data', function() { document.querySelector('.loading-content').remove(); })
    .render();
  </script>
{% endblock js %}

{% block content %}
  <main id="{{ code }}" class="dfi">

    <section class="hero"{% if photo %} style="background-image: url('/{{ photo
}}') !important;"{% endif %}>
      <header>
        <h2>{{ acronym }}</h2>
      </header><!-- /.hero -->
      <div class="info">
        <div class="details">
          <dl>
            <dt>Based in</dt>
              <dd>{{ hq_city }}, {{ country }}</dd>
            <dt>HQ address</dt>
              <dd>{{ address }}</dd>
            <dt>Created in</dt>
              <dd>{{ creation_date }}</dd>
            <dt><i class="fa fa-globe-e" aria-hidden="true"></i> Official
website</dt>
              <dd><a href="{{ url }}">{{
  url.replace('https://', '').replace('http://', '').replace('/', '')
  }}</a></dd>
            <dt><i class="fa fa-wikipedia-w" aria-hidden="true"></i>
Wikipedia page</dt>
              <dd><a href="{{ wikipedia_url }}">{{ acronym
  }}</a></dd>
            <dt>Number of employees (2018)</dt>
              <dd>{{ employees|int
  }}</dd>
          </dl>
        </div><!-- /.details -->
        <ul class="actions">
          <li class="logo {{ acronym.lower() }}"><img
src="/img/dfis/{{ acronym }}-logo.png" alt="{{ name }} logo"></li>
          <li><a class="button" href=""><i class="fa fa-rss"
aria-hidden="true"></i> Follow</a>
          </li><li class="social-share">
            <div>
              <!--<span class="button"><i class="fa fa-share-alt" aria-hidden="true"></i> Share</span>-->
              <a class="button" href="mailto:?subject=Aid2Growth: {{ name }}"><i class="fa fa-envelope" aria-hidden="true"></i></a>
              <a target="_blank" class="button twitter-share-button" href="https://twitter.com/intent/tweet?url=">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a target="_blank" class="button fb-share-button" href="https://www.facebook.com/sharer/sharer.php?u=">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <!-- https://stackoverflow.com/questions/33426752/linkedin-share-post-url -->
              <a target="_blank" class="button" href="https://www.linkedin.com/sharing/share-offsite/?url={url}"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
          </li><!-- /.social-share -->
        </ul><!-- /.actions -->
      </div><!-- /.dfi-info -->
    </section><!-- /.hero -->

    {% if description %}
    <section class="overview">
      <article class="summary">
        <header>
          <h3>Summary</h3>
        </header>
        <p>{{ description }}</p>
      </article><!-- /.summary -->
    </section><!-- /.overview -->
    {% endif %}

    <section class="numbers">
      <article class="chart-wrapper">
        <span class="chart-actions">
          <a id="embed-dfi-region" href="#embed-modal" class="modal-open embed button icon-button" data-tooltip="Embed
  this chart"><i class="fa fa-code" aria-hidden="true"></i></a>
        </span>
        <header class="chart-title">
          <h5>Investments per region (2013-2017)</h5>
        </header>
        <div class="chart-container">
          <canvas id="chart-dfi-region" width="400" height="400"></canvas>
        </div>
      </article>

      <article class="chart-wrapper">
        <span class="chart-actions">
          <a id="embed-dfi-instrument" href="#embed-modal" class="modal-open embed button icon-button" data-tooltip="Embed
  this chart"><i class="fa fa-code" aria-hidden="true"></i></a>
        </span>
        <header class="chart-title">
          <h5>Investment instruments (2013-2017)</h5>
        </header>
        <div class="chart-container">
          <canvas id="chart-dfi-instrument" width="400" height="400"></canvas>
        </div>
      </article>

      <p class="credits">Data sources: <a href="https://dfi.cgdev.org/">Center
For Global Development</a>, <a href="https://data.worldbank.org/">
World Bank </a>.</p>
    </section><!-- /.numbers -->

    <section class="extra">
    {% if reports %}
    <article>
      <header>
        <h4>Related reports</h4>
      </header>
      <div id="reports" class="related">
        <ul>
          {% for r in reports %}
          <li><a href="{{ r.pdf_url }}"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> {{ r.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <footer>
        <p class="credits">See the <a href="/reports/">reports section</a> for more.</p>
      </footer>
    </article>
    {% endif %}

    <article>
      <header>
        <h4>From the blog</h4>
      </header>
      <div id="blogposts" class="related">
        <ul>
          <li><a href=""><i class="fa fa-file-pdf-o" aria-hidden="true"></i> My post <span class="feed-item-date">10 Oct 2020</span></a></li>
        </ul>
      </div>
    </article>
      <article>
        <header>
          <h4>Recent news</h4>
        </header>
        <div id="feeds" class="related">
          <p class="loading-content">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
          </p>
        </div>
        <footer>
          <p class="credits">News provided by <a href="https://news.google.com/">Google News</a>.</p>
        </footer>
      </article>
    </section><!-- /.extra-->

  </main><!-- /.dfi -->

  <!-- embed modal -->
    <div id="embed-modal" class="modal hide">
      <div class="modal-overlay"></div>

      <div class="modal-container small">

        <div class="modal-content">
          <header><!--Title-->
            <h3>Embed chart</h3>
            <div class="modal-close">
              <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
              </svg>
            </div>
          </header>

          <div class="modal-main">
            <textarea id="embed-code" readonly="readonly">get this code! copy & paste it quick.</textarea>
          </div><!-- modal-main -->
        </div>
      </div>
    </div>
    <!-- /embed modal -->
{% endblock content %}
