{% extends 'base.html' %}

{% block bodyID %}glossary{% endblock %}


{% block content %}
  
  <main class="page">
    <section>
      <header>
        <h2>Glossary</h2>
      </header>
      
      <div class="content">
        <dl>
          {% for article in articles %}
            <div>
              <dt>{{ article.term }}</dt>
              <dd>{{ article.definition }}</dd>
            </div>
          {% endfor %}
        </dl>
      </div><!-- /.content -->
    </section>
  </main><!-- /.page -->
 

{% endblock content %}
