{% extends 'base.html' %}

{% block bodyID %}home{% endblock %}

{% block extracss %}
  <link rel="stylesheet" href="/css/modal.css">
{% endblock %}

{% block js %}
  <script src="/js/vendor/d3.min.js"></script>
  <script src="/js/vendor/topojson.min.js"></script>
  <script src="/js/vendor/datamaps.world.min.js"></script>
  <script src="/js/vendor/papaparse-5.0.2.min.js"></script>
  <script src="/js/vendor/chart-2.9.3.min.js"></script>

  <script src="/js/vendor/modernizr-3.8.0.min.js"></script>
  <script src="/js/vendor/jquery-3.4.1.min.js"></script>
  <script src="/js/plugins.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/maps.js"></script>
  <script src="/js/charts.js"></script>
  <script src="/js/modal.js"></script>

{% endblock js %}

{% block content %}
  <main id="home">
    <section id="overview-map">
      <div id="map">
      </div><!-- /#map --> 
      <div id="country-index">
        <header>
          <h3 class="light">Total aid received between <strong>2013</strong> and <strong>2017</strong> (million €)</h3>
        </header>        
        <ul id="country-rank">
          <!-- Filled in charts.js -->
        </ul>
      </div><!-- /#country-index -->
    </section><!-- /#map -->
    
    <section id="about">
      <h2 class="light"><strong>Aid2Growth</strong> offers an international political economy analysis on how European donors, within a changing geopolitical and economic arena led by Asia, are reshaping national DFIs to support their own vision and interests. Let's explore the data.</h2>
    </section>
    
    <section id="data-overview">
        <article id="investment-global" class="chart-wrapper">
          <span class="chart-actions">
            <a id="embed-investment-global" href="" class="modal-open button icon-button embed-button" data-tooltip="Embed this chart"><i class="fa fa-code" aria-hidden="true"></i></a>
          </span>
          <h4 class="chart-title">Global DFI Activity</h4>
          <div class="chart-container">
            <canvas id="chart-global" width="400" height="400"></canvas>
          </div>
        </article>

        <article id="investment-agency" class="chart-wrapper">
          <span class="chart-actions">
            <a id="embed-investment-agency" href="" class="modal-open button icon-button embed-button" data-tooltip="Embed this chart"><i class="fa fa-code" aria-hidden="true"></i></a>
          </span>
          <h4 class="chart-title">Global investment by agency</h4>
          <div class="chart-container">
            <canvas id="chart-global-agency" width="400" height="400"></canvas>
          </div>
        </article>

        <article id="investment-region" class="chart-wrapper">
          <span class="chart-actions">
            <a id="embed-investment-region" href="" class="modal-open button icon-button embed-button" data-tooltip="Embed this chart"><i class="fa fa-code" aria-hidden="true"></i></a>
          </span>
          <h4 class="chart-title">Global investment by region</h4>
          <div class="chart-container">
            <canvas id="chart-global-region" width="400" height="400"></canvas>
          </div>
        </article>
        
      <p class="credits">Data source: <a href="https://dfi.cgdev.org/">Center For Global Development</a>.</p>
    </section><!-- /#data-overview-->
  
  </main>
  
  <!-- embed modal -->
    <div id="embed-modal" class="modal hide">
      <div class="modal-overlay"></div>

      <div class="modal-container small"> 
        
        <div class="modal-content">
          <header><!--Title-->
            <h3>Embed chart</h3>
            <div class="modal-close">
              <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
              </svg>
            </div>
          </header>

          <div class="modal-main">
            <textarea id="embed-code" readonly="readonly">get this code! copy & paste it quick.</textarea>
          </div><!-- modal-main -->
        </div>
      </div>
    </div>
    <!-- /embed modal -->
  
{% endblock content %}
