{% extends 'base.html' %}

{% block bodyID %}{{ page_name }}{% endblock %}


{% block content %}
  
  <main class="page">
    <section>
      <header>
        <h2>{{ page_title }}</h2>
      </header>
      
      <div class="content">
        {{ page_content }}
      </div><!-- /.content -->
    </section>
  </main><!-- /.page -->
 

{% endblock content %}
