{% extends 'base.html' %}

{% block bodyID %}{{ page_name }}{% endblock %}


{% block content %}
  
  <main class="page">
    <section class="post">
      <header>
        <h2>{{ title }}</h2>
        <div>
          <h5 class="post-date">{{ date }}</h5>
          <ul class="tags">
            {% for tag in tags %}
            <li><a href="/country/{{ tag.lower() }}">{{ codes[tag.lower()] }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </header>
      
      <div class="content">
        {{ content }}
      </div><!-- /.content -->
    </section>
    
    <div class="pagination">
      <p>
        <a class="previous-post" href="">Título do post anterior</a>
        <a class="next-post" href="">Título do próximo post</a>
      </p>
    </div>
    
    
  </main><!-- /.post -->
 

{% endblock content %}
