{% extends 'base.html' %}

{% block bodyID %}{{ page_name }}{% endblock %}


{% block content %}
  
  <main class="page">
    <section id="post-list" class="post">
      <header>
        <h2>News posts</h2>      
      </header>
      
      <div class="list">
        {% for post in posts %}
        <article class="post-preview">
          <header>
            <h3><a href="/posts/{{ post.slug }}">{{ post.title }}</a></h3>
            <h5 class="post-date">{{ post.date }}</h5>
            <ul class="tags">
              {% for tag in post.tags %}
              <li><a href="/country/{{ tag.lower() }}">{{ codes[tag.lower()] }}</a></li>
              {% endfor %}
            </ul>
          </header>
          <p class="post-summary">
            {{ post.summary }}...
          </p>
        </article>
        {% endfor %}
      </div>
      
    </section><!-- /#post-list -->
  </main><!-- /.page -->
 

{% endblock content %}
