{% extends 'base.html' %}

{% block bodyID %}reports{% endblock %}

{% block content %}
  <main class="page">
    <section>
      <header class="page-header">
        <h2>Working Papers</h2>
        <p class="highlight">This is a collection of reports published by the main institutions....</p>
      </header>
      <div class="report-grid">
        {% for article in articles %}
          <article {% if article.internal == true %} class="internal" {% endif %}>
            <header>
              <p class="download">
              <img src="/img/reports/{{ loop.index0 }}.png" alt="{{ article.title }}">
              <a class="button yellow" href="{{ article.pdf_url }}"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Download</a>
              </p>
              <h3>{{ article.title }}</h3>
              <h4 class="authors">{{ article.authors }}</h4>
              <p class="description">{{article.description}}</p>
            </header>
            <ul class="details">
              <li class="date">{{ article.date }}</li>
              <li class="institution">{{ article.institution }}</li>
            </ul>
          </article>
        {% endfor %}
      </div><!-- /.report-grid -->
    </section>
  </main><!-- /.page -->


{% endblock content %}
