{% extends 'base.html' %}

{% block bodyID %}team{% endblock %}

{% block content %}
  <main class="page">
    <section>
      <header class="page-header">
        <h2>Team</h2>
      </header>
      <div class="team-grid">
        {% for entry in entries %}
          <article>
            <header>
              <p><img src="/img/team/{{ loop.index0 }}.jpg" alt="{{ entry.name }}"></p>
              <h4>{{ entry.name }}</h4>
              <h5>{{ entry.position }}</h5>
            </header>
            <ul class="details">
              <li class="bio">{{ entry.bio }}</li>
              {% if entry.url %}
              <li class="link"><a href="{{ entry.url }}">website</a></li>
              {% endif %}
            </ul>
          </article>
        {% endfor %}
      </div><!-- /.team-grid -->
    </section>
  </main><!-- /.page -->


{% endblock content %}
